[["KDDI-tos-1" :tos/full-text "プライバシーポータル | 公開情報 | KDDI株式会社 
 お問い合わせ 
 ENGLISH 言語を切り替える 
 サイト内検索 
 サイト内検索実行 
 閉じる 
 理念・ビジョン 
 理念・ビジョン 
 Vision 
 理念・ビジョントップページ 
 CEOメッセージ 
 ブランド 
 中期経営戦略 
 サービス 
 サービス 
 service 
 個人のお客さま 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 電話 
 法人のお客さま 
 新規ウィンドウで開く 
 ニュース 
 ニュース 
 News 
 Newsroom 
 ニュースルームトップページ 
 ニュースリリース 
 トピックス 
 グループ企業ニュース 
 サステナビリティ 
 サステナビリティ 
 Sustainability 
 Sustainability 
 サステナビリティトップページ 
 重要課題（マテリアリティ） 
 ESGの取り組み 
 レポート 
 サステナビリティニュース 
 企業情報 
 企業情報 
 Company 
 Company 
 企業情報トップページ 
 会社概要 
 グループ企業情報 
 災害時の支援情報 
 株主・投資家情報 
 株主・投資家情報 
 IR 
 IR 
 株主・投資家情報トップページ 
 個人投資家の皆さまへ 
 コーポレートガバナンス 
 IRライブラリ 
 IRニュース 
 IRカレンダー 
 採用情報 
 障害情報 
 [ 個人 ・ 法人 新規ウィンドウで開く ] 
 メニュー 
 個人のお客さま向け障害情報 
 法人のお客さま向け障害情報 新規ウィンドウで開く 
 閉じる 
 KDDIホーム 
 企業情報 
 KDDIについて 
 公開情報 
 プライバシーポータル 
 プライバシーポータル 
 このページを印刷する 
 お客さまに当社のデータ活用についてご理解いただいた上で、安心してサービスをご利用いただけるよう、データの活用に関する当社の理念やお客さまご自身によるデータの管理方法を、「プライバシーポータル」としてまとめ、公表します。 
 更新履歴 
 2025年3月24日 データの連携（第三者への提供）についてデータクリーンルームに関する事項を追記しました 
 2024年4月1日 データの連携（第三者への提供）について業務委託先、クラウドサービスの利用に関する事項を追記しました 
 2022年6月1日 データの連携（第三者への提供）についてグループ会社との共同利用に関する事項を追記しました 
 2021年11月16日 トップページを更新しました データの連携（第三者への提供）について具体的な事例を追記しました 
 2021年10月5日 プライバシーポータルをリニューアルしました 
 データ活用によるお客さまの体験価値の向上と社会の持続的発展のために 
 適切なデータ活用にむけて 
 当社は安心してKDDIグループのサービスをご利用いただくために、「データ利用における基本指針」を定め、この指針に従って、適切にデータを取り扱います。また、本指針に基づき、お客さまのデータの取り扱いに関する方針として「プライバシーポリシー」を定めています。 本サイトではプライバシーポリシーに基づいた当社のデータの取り扱いについての概要を公表しています。 
 データ利用における基本指針 
 当社では、ご契約者の皆さまの大切な情報を、お客さまの体験価値向上や社会の持続的発展に役立てるべく活用させていただきます。活用にあたっては、お客さまにご理解いただけるよう利用方法の詳細な説明や個人を特定できないようなデータ加工など、責任ある企業活動を行います。 
 お客さま体験の向上と社会の持続的発展に貢献します 
 お客さまの大切なデータは、お客さま体験価値の向上、お客さまへの有益な情報の提供、および社会の持続的発展のために活用します。 
 お客さまの人権、社会の利益を尊重し、お客さまおよび社会の不利益となる活用はいたしません。 
 お客さま第一に考えます 
 お客さまご自身の意思を尊重し、利用目的やデータの種類に応じ、同意取得や管理・設定する方法など適切な仕組みを提供します。 
 あわせてお客さまの同意やデータのご提供状況が確認できる仕組みの提供に努めます。 
 透明性の確保に努めます 
 データを取得、利用にあたっては目的を明確にし、お客さまにご説明することに努め、透明性を確保します。 
 ご説明に際しては、お客さまにご理解をいただくこと第一に考え、わかりやすい表現をすることに努め、お客さまにご理解いただけない目的には利用いたしません。 
 プライバシー保護のための体制を整備します 
 お客さまのプライバシーを最大限配慮し、「プライバシーポリシー」に基づき関連法規などを遵守し、適切な社内体制を整備します。 
 お客さまの大切なデータを守るため、「セキュリティポリシー」に定める通り、セキュリティ体制を整備します。 
 グループ・パートナー企業と協力し最適な取り扱いを目指します 
 グループ企業やパートナー企業と連携し、お客さまに最適な体験価値を提供することに努めます。 
 グループ企業やパートナー企業へデータを提供する際には、匿名化や統計化の処理およびあらかじめ同意をいただくなど、適切な管理を徹底します。 
 本指針の内容・位置付けについては、お客さまや社会の期待に常に応えつづけるために、適宜見直しを行います 
 データの取得 
 当社では、以下の場面でデータを取得しています。 
 当社がサービスを提供するためにお客さまから申し込み書などの書面、Webなどの画面、口頭などの方法で取得した情報 
 通信サービスのご契約時やアプリの利用開始時など、お客さまに記載・入力いただいた情報を取得します 
 お客さまが当社サービスなどをご利用いただくことに伴い当社が取得した情報 
 お客さまがサービスなどを利用・閲覧した際に送信された情報を取得します 代表的なものとして以下の情報があります 
 サービスの利用履歴（アプリの利用履歴、Eコマースの購入履歴、決済サービスの決済履歴などを含む） 
 Webサイトの閲覧履歴（cookieなど含む） など 
 外部から取得した情報 
 当社は外部の第三者から、お客さまに関する情報を取得する場合があります 代表的なものとして以下の情報があります 
 提携会社など（当社グループ会社）から適法に入手した情報 など 
 データの利用目的 
 当社はお客さまのデータを以下の目的で利用させていただきます。 なお法令に定められた範囲内で保管した上で、プライバシーポリシーなどで定める利用目的を達成したあとは、消去などの対応を行います。 
 [1] お客さまにサービス・商品などに関するお知らせをするため 
 お客さまのご契約状態やサービスのご利用状況などにあわせ、当社からキャンペーンやサービスの紹介のお知らせをお届けします 
 [2] サービス・商品の提供のため 
 ご契約に基づくサービスの提供や商品の発送などに用いるほか、利用状況にあわせたポイント付与などを行います 
 [3] サービス・商品の利用状況を調査するため 
 お客さまの利用状況を分析し、品質向上・サービス改善を行います 
 [4] サービス・商品を安定してお届けし続けるため 
 サービスを安定的にお届けするために、監視・運用を行います 
 [5] お客さまからの問い合わせに対応するため 
 お客さまからの問い合わせに対応するために、ご契約状況や利用状況を確認します 
 処理の方法 
 当社は「パーソナルデータ」をプライバシーポリシーや各サービスの利用規約などに定める利用目的達成のために、社内で分析・加工などを行います。主な事例は以下の通りです。 
 例1：お客さま毎にサービスの利用情報を分析し、基本情報（性・年代など）なども踏まえた上で、お客さま毎の興味や関心を推定し、お客さまへのご案内内容の選定などに活用します 
 例2：各サービスの利用情報を分析し、そのサービスに興味・関心があるお客さまのを特徴を予測し、該当のサービスをまだご利用されていないお客さまへの情報提供に活用 
 なお、集計・分析などで処理をし、個人を特定できない状態になった集計結果や統計モデルについては、「統計情報」として利用し、「パーソナルデータ」とは区別をして取り扱うことがあります。 
 利用するデータ 
 当社は、お客さま個々人に関するデータを「パーソナルデータ」とし、プライバシーポリシーや各サービスの利用規約などでその取り扱い内容を規定し、大切に取り扱います。 
 パーソナルデータには例えば以下のものが含まれます。 
 基本情報 
 お客さまの年代や居住地域などの属性情報 
 利用情報／端末情報／各事業および代理業で取得した情報 
 利用情報：お客さまのサービスご加入状況や、決済サービス・Eコマースなどの購買情報、アプリのご利用履歴などの情報 
 端末情報：お客さまのご利用する端末やOSの情報 
 各事業および代理業で取得した情報：サービスや事業を実施する上で取得する情報 
 位置情報 
 お客さまのご利用する端末の位置を表す情報 位置情報の活用についてはこちら をご確認ください。 
 位置情報の利用にあたってはお客さまから個別の同意を取得することがあります その他、外部から取得した情報やお客さまからの同意に基づいて取得する情報を利用する場合があります 
 データの連携（第三者への提供） 
 当社は、よりよいサービスのご提供や、お客さまにより関連性の高いご案内を行うため、同意をいただいたお客さまに限り、グループ企業や提携先企業などの第三者へデータを連携します。例えば、MNP転出における電話番号の移転やアドレス帳などの移行機能などを提供しています。 なお、法令で定める場合を除いて、お客さま本人からあらかじめ同意を得ることなく、第三者へデータを連携することはございません。また、業務の委託に伴い、業務達成に必要なデータを提供することがあります。 
 委託先企業 
 当社は、外部の企業に業務を委託し、その業務達成のためにお客さまのデータを提供することがあります。 
 委託先企業を選定するにあたり、セキュリティ上の要件などの基準を満たしているかの確認を行い、業務と委託するに際しては、契約者の締結や、監査などを行うことで、お客さまのデータを安全に取り扱う為の管理策を講じています。 
 当社は、外国に所在する事業者へ、電気通信事業法に基づく特定利用者情報の取り扱いに関する業務を委託することがあります。 （ 対象国・地域の名称および当該国・地域における特定利用者情報の取り扱いに関する法制度などの詳細はこちら ） 
 グループ会社 提携先企業 
 グループ会社と連携した割引やポイント付与などのおトクなサービスを提供するために、お客さまの同意に基づいてデータを提供することがあります。 
 当社が定めるプライバシー・データガバナンスの条件を満たし、かつお客さまにより良いサービスを提供するために個人データの提供が必要な場合、該当するグループ会社間で個人情報を共同利用することがあります。 （ 上記に該当する共同利用先はこちら ） 
 当社はお客さまに、より関連性の高い広告配信やご案内を行うことを目的として、当社グループ会社でデジタル広告事業を担うSupership社やその他のグループ会社にお客さまの同意に基づいてデータを提供することがあります。 
 [1] グループ会社との連携 
 au IDに紐づく情報のKDDIグループ間での利用（ 詳細はこちら ） 
 [2] Supership社と連携した広告配信 
 その他デジタル広告の配信など（ 詳細はこちら ） 
 [3] ロイヤリティマーケティング社と連携したお知らせ 
 メール、SMS、＋メッセージなどの配信（ 詳細はこちら ） 
 当社が定めるプライバシー・データガバナンスの条件を満たした提携先企業とお客さまの体験価値向上と社会の持続的発展のためにデータクリーンルームを活用し両社のデータを掛け合わせて分析することがあります（ 詳細はこちら ） 
 官公庁・ クライアント企業 
 同意をいただいたお客さまに限り、誰の情報であるかわからない形式に加工した位置情報データおよび属性情報を、官公庁やクライアント企業に提供することがあります。 
 クラウド サービス事業者 
 当社は、外国のクラウドサービスを利用し、当社業務達成のために、電気通信事業法に基づく特定利用者情報を保存することがあります。 （ 対象国・地域の名称および当該国・地域における特定利用者情報の取り扱いに関する法制度などの詳細はこちら ） 
 クラウドサービスを選定するにあたり、セキュリティ上の要件などの基準を満たしているかの確認を行い、特定利用者情報を安全に取り扱う為の管理策を講じています。 
 なお、集計・分析などで処理をし、個人を特定できない状態になった集計結果や統計モデルについては、「統計情報」として利用し、「パーソナルデータ」ではない状態に加工した上で、第三者に提供する場合があります。 
 お客さまの大切なデータを守るために 
 プライバシー保護・セキュリティ対策の取り組み 
 当社はお客さまの大切なデータやプライバシーを保護するために、社内体制の構築や様々な安全管理措置を講じています。 
 プライバシー保護の取り組み 
 当社ポリシーの遵守 
 当社は、お客さま情報および会社の機密情報を厳密に取り扱うとともに、情報漏えいリスクなどに対して、常に適切な安全管理措置を講じることにより、お客さまおよび関係者の信頼を得るよう努めてまいります。 また、当社は、個人情報の重要性を認識し、その保護の徹底をはかるため、電気通信事業法、個人情報の保護に関する法律その他の法令・各種ガイドラインを遵守いたします。 
 セキュリティポリシー 
 当社は、お客さま情報および会社の機密情報を厳密に取り扱うとともに、情報漏えいリスクなどに対して、常に適切な安全管理措置を講じることを徹底するため、セキュリティポリシーを社内外に公開し、これに従うことを宣言します。 
 プライバシーポリシー 
 当社は、個人情報の重要性を認識し、その保護の徹底をはかるため、プライバシーポリシーを公開するとともに、「 セキュリティポリシー（別掲参照） 」の遵守とあわせ、これに従うことを宣言します。 
 お客さまによるプライバシーの管理 
 お客さまご自身の意思を尊重し、データの取得、利用、または第三者への提供を行う際に、その内容に応じ、お客さまから同意を取得をしたり、説明方法を工夫したりなど、適切な案内を実施することに努めています。 また、お客さまに安心してサービスをご利用いただけるよう、当社がお客さまのデータをどのように活用するか、お客さまご自身でいつでも簡単に確認、変更いただける機能を用意しています。規約への同意状況や当社によるデータの利用状況をご確認いただき、必要に応じてご変更ください。また、お客さまは法令の定めている通り、個人データの開示や利用停止の請求を行うことができます。 請求の方法についてはKDDIプライバシーポリシーをご確認ください。 KDDIプライバシーポリシー 
 プライバシー設定の変更 
 メール／SMSの確認・停止 
 ダイレクトメール、テレマーケティングの停止 
 アクセス分析広告配信の設定 
 外部有識者からの意見の反映 
 当社では外部有識者から構成される「アドバイザリーボード※」を設置し、データ利活用や保護の在り方について外部の有識者からの意見を積極的に取り入れ、各取り組みに反映させています。 
 Society 5.0の実現に向けた適切なデータ活用に関するアドバイザリーボードの詳細はこちら 
 おすすめコンテンツ 
 サステナビリティ 
 個人投資家の皆さまへ 
 CM・協賛情報 
 関連ページ1 
 関連ページ2 
 ブランド 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 メディア 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 施設 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 新規ウィンドウで開く 
 理念・ビジョン 
 サービス 
 ニュース 
 サステナビリティ 
 企業情報 
 株主・投資家情報 
 採用情報 
 総合サイトマップ 
 ニュース関連リンク 
 サイトポリシー 
 プライバシーポータル 
 プライバシーポリシー 
 ウェブアクセシビリティの取り組み 
 セキュリティポータル 
 ソーシャルメディアポリシー 
 動作環境・Cookie情報の利用について 
 商標について 
 Follow us フォローアス 
 KDDIに関する情報をお届けする、 KDDI公式アカウント 
 新規ウィンドウで開く 
 新規ウィンドウで開く -->
 新規ウィンドウで開く 
 新規ウィンドウで開く -->
 新規ウィンドウで開く 
 ENGLISH 
 Page Top 
 COPYRIGHT © KDDI CORPORATION, ALL RIGHTS RESERVED." 1 :add]
 ["KDDI-tos-1" :tos/source-url "https://www.kddi.com/corporate/kddi/public/privacy-portal/" 1 :add]
 ["KDDI-tos-1" :tos/retrieved-at "2026-07-19T07:43:09Z" 1 :add]
 ["KDDI-tos-1" :tos/sha256 "18de622a7d599412a4a8ee9195287c5aeccf578a3ab0fedc0167d772b54fdd0a" 1 :add]
 ["KDDI-tos-1" :tos/doc-type :privacy-policy 1 :add]]
